In [1]:
import pandas as pd
from statsbombpy import sb
import json

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

<ipython-input-2-1390d13c0cdd>:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

**Data from the statsbombpy API**

In [3]:
beleng = sb.events(match_id=8657)

credentials were not supplied. open data access only

In [4]:
beleng.shape

(4426, 77)

In [5]:
beleng.columns

Index(['50_50', 'bad_behaviour_card', 'ball_receipt_outcome',
       'ball_recovery_offensive', 'ball_recovery_recovery_failure',
       'block_deflection', 'block_save_block', 'carry_end_location',
       'counterpress', 'dribble_outcome', 'dribble_overrun', 'duel_outcome',
       'duel_type', 'duration', 'foul_committed_advantage',
       'foul_committed_card', 'foul_committed_offensive',
       'foul_committed_type', 'foul_won_advantage', 'foul_won_defensive',
       'goalkeeper_body_part', 'goalkeeper_end_location', 'goalkeeper_outcome',
       'goalkeeper_position', 'goalkeeper_technique', 'goalkeeper_type', 'id',
       'index', 'interception_outcome', 'location', 'match_id', 'minute',
       'pass_aerial_won', 'pass_angle', 'pass_assisted_shot_id',
       'pass_backheel', 'pass_body_part', 'pass_cross', 'pass_cut_back',
       'pass_deflected', 'pass_end_location', 'pass_goal_assist',
       'pass_height', 'pass_length', 'pass_outcome', 'pass_recipient',
       'pass_shot_assist', 'pass_switch', 'pass_type', 'period',
       'play_pattern', 'player', 'position', 'possession', 'possession_team',
       'related_events', 'second', 'shot_aerial_won', 'shot_body_part',
       'shot_deflected', 'shot_end_location', 'shot_first_time',
       'shot_freeze_frame', 'shot_key_pass_id', 'shot_one_on_one',
       'shot_outcome', 'shot_redirect', 'shot_statsbomb_xg', 'shot_technique',
       'shot_type', 'substitution_outcome', 'substitution_replacement',
       'tactics', 'team', 'timestamp', 'type', 'under_pressure'],
      dtype='object')

**Data from the equivalent match json file**

In [6]:
with open('C:\\Users\\marwane\\Football\\Exo\\8657.json',encoding="utf-8") as data:
    events = json.load(data)

In [7]:
df = pd.read_json('8657.json')

In [8]:
df.shape

(4426, 34)

In [9]:
df.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'type',
       'possession', 'possession_team', 'play_pattern', 'team', 'duration',
       'tactics', 'related_events', 'player', 'position', 'location', 'pass',
       'under_pressure', 'carry', 'ball_receipt', 'interception',
       'counterpress', 'duel', 'dribble', '50_50', 'shot', 'goalkeeper',
       'ball_recovery', 'foul_committed', 'foul_won', 'block', 'substitution',
       'bad_behaviour'],
      dtype='object')

In [10]:
df.head()

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,team,duration,tactics,related_events,player,position,location,pass,under_pressure,carry,ball_receipt,interception,counterpress,duel,dribble,50_50,shot,goalkeeper,ball_recovery,foul_committed,foul_won,block,substitution,bad_behaviour
0,04198d50-c681-4522-a809-683dea2e8f18,1,1,2021-09-22 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 782, 'name': 'Belgium'}","{'id': 1, 'name': 'Regular Play'}","{'id': 782, 'name': 'Belgium'}",0.000,"{'formation': 343, 'lineup': [{'player': {'id': 3509, 'name': 'Thibaut Courtois'}, 'position': {'id': 1, 'name': 'Goalkeeper'}, 'jersey_number': 1}, {'player': {'id': 20005, 'name': 'Toby Alderweireld'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'jersey_number': 2}, {'player': {'id': 3101, 'name': 'Vincent Kompany'}, 'position': {'id': 4, 'name': 'Center Back'}, 'jersey_number': 4}, {'player': {'id': 3077, 'name': 'Jan Vertonghen'}, 'position': {'id': 5, 'name': 'Left Center Back'}, 'jersey_number': 5}, {'player': {'id': 3176, 'name': 'Thomas Meunier'}, 'position': {'id': 7, 'name': 'Right Wing Back'}, 'jersey_number': 15}, {'player': {'id': 4831, 'name': 'Nacer Chadli'}, 'position': {'id': 8, 'name': 'Left Wing Back'}, 'jersey_number': 22}, {'player': {'id': 2954, 'name': 'Youri Tielemans'}, 'position': {'id': 9, 'name': 'Right Defensive Midfield'}, 'jersey_number': 17}, {'player': {'id': 5642, 'name': 'Axel Witsel'}, 'position': {'id': 11, 'name': 'Left Defensive Midfield'}, 'jersey_number': 6}, {'player': {'id': 3089, 'name': 'Kevin De Bruyne'}, 'position': {'id': 17, 'name': 'Right Wing'}, 'jersey_number': 7}, {'player': {'id': 3621, 'name': 'Eden Hazard'}, 'position': {'id': 21, 'name': 'Left Wing'}, 'jersey_number': 10}, {'player': {'id': 3289, 'name': 'Romelu Lukaku Menama'}, 'position': {'id': 23, 'name': 'Center Forward'}, 'jersey_number': 9}]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,efe191f7-d38f-414d-8950-db48af1bd59b,2,1,2021-09-22 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 782, 'name': 'Belgium'}","{'id': 1, 'name': 'Regular Play'}","{'id': 768, 'name': 'England'}",0.000,"{'formation': 352, 'lineup': [{'player': {'id': 3468, 'name': 'Jordan Pickford'}, 'position': {'id': 1, 'name': 'Goalkeeper'}, 'jersey_number': 1}, {'player': {'id': 3314, 'name': 'Phil Jones'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'jersey_number': 16}, {'player': {'id': 3244, 'name': 'John Stones'}, 'position': {'id': 4, 'name': 'Center Back'}, 'jersey_number': 5}, {'player': {'id': 3336, 'name': 'Harry Maguire'}, 'position': {'id': 5, 'name': 'Left Center Back'}, 'jersey_number': 6}, {'player': {'id': 3308, 'name': 'Kieran Trippier'}, 'position': {'id': 7, 'name': 'Right Wing Back'}, 'jersey_number': 12}, {'player': {'id': 3594, 'name': 'Danny Rose'}, 'position': {'id': 8, 'name': 'Left Wing Back'}, 'jersey_number': 3}, {'player': {'id': 10956, 'name': 'Eric Dier'}, 'position': {'id': 10, 'name': 'Center Defensive Midfield'}, 'jersey_number': 4}, {'player': {'id': 3504, 'name': 'Ruben Loftus-Cheek'}, 'position': {'id': 13, 'name': 'Right Center Midfield'}, 'jersey_number': 21}, {'player': {'id': 4597, 'name': 'Fabian Delph'}, 'position': {'id': 15, 'name': 'Left Center Midfield'}, 'jersey_number': 17}, {'player': {'id': 10955, 'name': 'Harry Kane'}, 'position': {'id': 22, 'name': 'Right Center Forward'}, 'jersey_number': 9}, {'player': {'id': 3233, 'name': 'Raheem Shaquille Sterling'}, 'position': {'id': 24, 'name': 'Left Center Forward'}, 'jersey_number': 10}]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0d585e73-42cc-49ec-902c-d1fed3551f95,3,1,2021-09-22 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 782, 'name': 'Belgium'}","{'id': 1, 'name': 'Regular Play'}","{'id': 768, 'name': 'England'}",NaN,NaN,[75caf5e3-e038-4d52-b968-0df8bce24a8a],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,75caf5e3-e038-4d52-b968-0df8bce24a8a,4,1,2021-09-22 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 782, 'name': 'Belgium'}","{'id': 1, 'name': 'Regular Play'}","{'id': 782, 'name': 'Belgium'}",NaN,NaN,[0d585e73-42cc-49ec-902c-d1fed3551f95],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a7ec7898-799e-4e79-bc54-54d4cba812cf,5,1,2021-09-22 00:00:00.533,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 782, 'name': 'Belgium'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 782, 'name': 'Belgium'}",0.719,NaN,[842270b0-aad5-4088-a739-599d4c40ff66],"{'id': 3289, 'name': 'Romelu Lukaku Menama'}","{'id': 23, 'name': 'Center Forward'}","[61.0, 41.0]","{'recipient': {'id': 5642, 'name': 'Axel Witsel'}, 'length': 10.0, 'angle': 3.1415927, 'height': {'id': 1, 'name': 'Ground Pass'}, 'end_location': [51.0, 41.0], 'type': {'id': 65, 'name': 'Kick Off'}, 'body_part': {'id': 40, 'name': 'Right Foot'}}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN